&nbsp;<br>
&nbsp;<br>

<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid text-center">
        <p class="h6 fw-bold">Secretaria de Salud - Vigilancia Epidemiológica, Calle Victoria #312 Pte. entre Acuña y
            Xicotencatl, Zona Centro,
            CP:25000, Saltillo, Coah. Tel: 844.438.8330 Exts. 4693, 4694, 4707</p>
    </div>
</nav>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/javascripts/loader.js"></script>
</body>

</html>