<%- include layouts/header.ejs %>
 
    <div class="container px-4">
        <div class="row gx-5">
            <div class="col">
                <a href="/" class="btn btn-success" style="color: white;">
                    <i class="bi bi-arrow-left"></i> Regresar
                </a>
                &nbsp;&nbsp;&nbsp;
                <br><br><br>
                <div class="p-3 border bg-light">
                    <div id="divLoader"><br><br><br>
                        <div class="animation">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <br><br><br><br><br><br>
                    </div>

                    <div class="container" >
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="mb-3 text-center">
                                    <h6>Búsqueda seleccionada:</h6>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-8 text-center">
                                <div class="mb-3">
                                    <h4>Se ha generado el archivo correctamente</h4>
                                    &nbsp;<br>
                                </div>
                               
                                <div class="mb-3 text-center">
                                    <button type="button" class="btn btn-primary">Aceptar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <%- include layouts/footer.ejs %>